---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Blog">
  <h1>Blog Astro</h1>
  <p>blog page of astro</p>

  <ul>
    <li><a href="/posts/post-1">Post 1</a></li>
    <li><a href="/posts/post-2">Post 2</a></li>
  </ul>
</MainLayout>
