---
import MySiteLayout from "../layouts/MySiteLayout.astro";
import GreetingCard from "../components/GreetingCard.astro";
---

<MySiteLayout title="Home">
  <GreetingCard />
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, atque.
  </h1>
</MySiteLayout>
