---
import Wrapper from "../components/Wrapper.astro";
---

<Wrapper title="Pakru's Page">
  <img
    src="https://source.unsplash.com/gOqBe7ropxM/100x100"
    alt=""
    slot="after-header"
  />
  <h2>All about pakru</h2>
  <p>life story of pakru</p>
  <p slot="after-footer">Copyright @2023</p>
</Wrapper>
