---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
const { title } = Astro.props;
---

<div id="content-wrapper">
  <Header />
  <slot name="after-header" />
  <h1>{title}</h1>
  <slot> This is a fallback slot</slot>
  <Footer />
  <slot name="after-footer" />
</div>
